<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--被vue管理的标签(作用域内)-->
<div id="moe">
    <h1>{{title}}</h1>
    <h2>{{message}}</h2>
<!--    <button @click="doShow">显示切换  v-if</button>-->

    <h3>对象遍历</h3>
    <p>只遍历键值对中的值</p>
    <p>v-for="item in user"</p>
    <ul>
        <li v-for="item in user">{{item}}</li>
    </ul>
    <hr>
    <p>注意！与python一些语言不同，vue的循环，值在键前面。 </p>
    <p>v-for="(value, key) in user"</p>
    <ul>
        <li v-for="(value, key) in user">{{key}}:{{value}}</li>
    </ul>
    <hr>
    <p>遍历字典，且获取索引值</p>
    <p>v-for="(value, key,index) in user"</p>
    <ul>
        <li v-for="(value, key,index) in user">{{index}}--{{key}}:{{value}}</li>
    </ul>
    <hr>
    <p>遍历数组嵌套对象取值</p>
    <p v-pre>v-for="item in user"  {{item.name}}</p>
    <ul>
        <li v-for="item in users">
            {{item.name}}
        </li>
    </ul>


</div>

<!--导入vue-->
<script src="../static/js/vue.js"></script>
<!--js-->
<script>
    // 将data单独分离分离出来
    const datas = {
        title:'循环遍历',
        message:'v-for 对象遍历',
        user:{id: 0, name: "橘九", email: "100@qq.com", pw:"233"},
        users:[
            {id: 0, name: "铃果", email: "100@qq.com", pw:"233"},
            {id: 1, name: "柚一", email: "101@qq.com", pw:"233"},
            {id: 2, name: "双荔", email: "102@qq.com", pw:"233"},
            {id: 3, name: "山梨", email: "103@qq.com", pw:"233"},
            {id: 4, name: "？", email: "104@qq.com", pw:"233"},
            {id: 5, name: "莲雾", email: "105@qq.com", pw:"233"},
        ],
    };

    const test = new Vue({
        el:"#moe",// 约等于 原生JS的document.querySelector("#moe");
        data: datas,
        methods:{
            doShow() {
                this.isShow = !this.isShow
            },
        }
    })
</script>
</body>
</html>