<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--被vue管理的标签(作用域内)-->
<div id="moe">
    <h1>{{title}}</h1>
    <h2>{{message}}</h2>
    <table border="1">
        <thead>
            <tr>
                <th>id</th>
                <th>书名</th>
                <th>出版日期</th>
                <th>价格</th>
                <th>购买数量</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        <tr v-for="(item,i) in books">
<!--            <td v-for="value in item">{{value}}</td>-->
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.date}}</td>
            <td>{{item.price | showPrice}}</td>
<!--            <td>{{item.price}}</td>-->
            <td>
                <!-- disabled属性禁止按钮交互 -->
                <button @click="decrement(i)" v-bind:disabled="item.num <= 1">-</button>
                {{item.num}}
                <button @click="increment(i)">+</button>
            </td>
            <td><button @click="removeItem(i)">移除</button></td>
        </tr>
        </tbody>
    </table>
    <hr>
    <h3>总价格：{{totalPrice | showPrice}}</h3>
</div>

<!--导入vue-->
<script src="../static/js/vue.js"></script>
<!--js-->
<script>
    // 将data单独分离分离出来
    const datas = {
        title:'实例开发',
        message:'书籍购物 改变购买数量',
        books:[
            {id: 0, name: "铃果", date:"10.21", price: 100, num:6},
            {id: 1, name: "柚一", date:"10.21", price: 101, num:6},
            {id: 2, name: "双荔", date:"10.21", price: 102, num:6},
            {id: 3, name: "山梨", date:"10.21", price: 103, num:6},
            {id: 4, name: "？", date:"10.21", price: 104, num:6},
            {id: 5, name: "莲雾", date:"10.21", price: 105, num:6},
        ],
    };

    const test = new Vue({
        el:"#moe",// 约等于 原生JS的document.querySelector("#moe");
        data: datas,
        computed:{
            // 计算总价
            totalPrice(){
                // ES5 写法
                let tprice = 0;
                for (let i = 0; i < this.books.length; i++){
                    tprice += this.books[i].price * this.books[i].num

                }

                // 新循环写法 + reduce数组求和
                let tempPriceList = [];
                for (let i in this.books){
                    tempPriceList.push(this.books[i].price * this.books[i].num)
                }
                tprice2 = tempPriceList.reduce(( acc, cur ) => {
                    return acc + cur
                }, 0);
                console.log("方法二："+tprice2);
                // return tprice2

                // 新循环写法
                tprice3 = 0;
                for (let item of this.books){
                    tprice3 += item.price * item.num
                }

                console.log("方法三："+tprice3);
                // return tprice3

                // 纯高阶函数 reduce 实现
                console.log("方法四："+
                    this.books.reduce(
                        function (preValue, book) {
                            return preValue + book.price * book.num
                    },0)
                );

                return tprice
            },
        },
        methods:{
            // 增加购买数
            increment(index){
                this.books[index].num++;
            },
            // 减少购买数
            decrement(index){
                this.books[index].num--;
            },
            // 移除
            removeItem(index){
                this.books.splice(index, 1)
            },
        },
        filters:{
            // 价格合计
            showPrice(price) {
                return '￥'+ price.toFixed(2)
            },
        },
    })
</script>
</body>
</html>
