<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--被vue管理的标签(作用域内)-->
<div id="moe">
    <h1>{{message}}</h1>
    <h2>变量拼接：{{str1 + str2}}</h2>
    <h2>变量和字符串拼接：{{str1 + '  ' + str2}}</h2>
    <h2>多变量直接渲染：{{str1}} {{str2}}</h2>
    <h2>数字类型变量计算 +：{{num + num}}</h2>
    <h2>数字类型变量计算 -：{{num - num}}</h2>
    <h2>数字类型变量计算 *：{{num * 2}}</h2>
    <h2>数字类型变量计算 /：{{num / 2}}</h2>
    <h2>数字类型变量拼接 /：{{num}} + {{num}}</h2>
</div>

<!--导入vue-->
<script src="../static/js/vue.js"></script>
<!--js-->
<script>
    // 将data单独分离分离出来
    const datas = {
        message:'插值操作',
        str1:'铃果',
        str2:'是天才',
        num:50,
    };

    const test = new Vue({
        el:"#moe",// 约等于 原生JS的document.querySelector("#moe");
        data: datas,
        methods:{
        }
    })
</script>
</body>
</html>