<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--被vue管理的标签(作用域内)-->
<div id="moe">
    <h1>{{title}}</h1>
    <h2>{{message}}</h2>
    <p>插槽是为了让组件更具有拓展性</p>
    <cpn><span slot="left">LOGO</span></cpn>
</div>

<template id="cpn">
    <div>
        <h3>我是组件</h3>
        <!--有名字的插槽-->
        <slot name="left">导航左边</slot>
        <slot name="center">导航中间</slot>
        <slot name="right">导航右边</slot>
        <!--没名字的插槽-->
        <slot></slot>

    </div>
</template>

<!--导入vue-->
<script src="../static/js/vue.js"></script>
<!--js-->
<script>
    // 将data单独分离分离出来
    const datas = {
        title:'slot 插槽',
        message:'具名插槽',
    };

    const test = new Vue({
        el:"#moe",// 约等于 原生JS的document.querySelector("#moe");
        data: datas,
        methods:{},
        components:{
            cpn:{
                template:'#cpn',

            },
        },
    })
</script>
</body>
</html>
