<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .hasColor{
            color: cyan;
        }
    </style>
</head>
<body>

<!--被vue管理的标签(作用域内)-->
<div id="moe">
    <h1>{{title}}</h1>
    <h2>{{message}}</h2>
    <ul>
        <li v-for="(i,index) in something" :class="getClass(index)" @click="colorAdd(index)">{{index}} {{i}}</li>
        <hr>
        <li v-for="(i,index) in something" :class="{hasColor:currentIndex === index}" @click="colorAdd(index)">{{index}} {{i}}</li>
    </ul>

</div>

<!--导入vue-->
<script src="../static/js/vue.js"></script>
<!--js-->
<script>
    // 将data单独分离分离出来
    const datas = {
        title:'v-bind + v-for',
        message:'v-bind + v-for 绑定和循环的实践',
        something:['铃果','双荔','山梨','？','莲雾','陆桃','七柠','芭娜娜','橘九','时音'],
        currentIndex:0,     // 记录谁变色
    };

    const test = new Vue({
        el:"#moe",// 约等于 原生JS的document.querySelector("#moe");
        data: datas,

        methods:{
            getClass:function (index) {
                return {hasColor:this.currentIndex === index}
            },
            colorAdd:function (index) {
                this.currentIndex = index
            }
        }
    })
</script>
</body>
</html>